@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&display=swap');


*{
    font-family: 'Inter', sans-serif;
}

.nav{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

li > a{
    text-decoration: none;
    color: black;
    margin-left: 2rem;
}

nav > div> ul > li{
    list-style: none;
    justify-content: space-between;
}

.banner{
    width: 73rem;
    height: 31rem;
    border-radius: 1rem;
    background: linear-gradient( #070211 0%, rgba(7, 2, 17, 0) 100%), url(Images/banner.jpg);
    background-repeat: no-repeat;
    margin: auto;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;
}

.fast-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    margin-top: 2rem;
}

.eyt{
    font-size: 4rem;
    font-family: 'Mulish', sans-serif;
}

.dsac-1{
    color: white;
    font-size: 1rem;
    opacity: 50%;
    font-family: 'Mulish', sans-serif;
    margin: auto;
    text-align: center;
}

.input-div{
    padding: 0.8rem;
    display: flex;
    background-color: rgb(214, 212, 212);
    height: max-content;
    width: max-content;
    opacity: 70%;
    border-radius: 1rem;
    margin-top: 2rem;
}

.button{
    padding: 0.7rem;
    border-radius: 0.5rem;
    background: #FF5400;
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    color: white;
    margin: 0.5rem;
    border: none;
    width: 10rem;
    height: 3.25rem;
}

.ff{
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
}


main{
    background-color: white;
    margin: auto;
    margin-top: 3.5rem;
    width: 80%;
    height: auto;
}

.opt{
    margin: auto;
    font-size: 2.5rem;
    text-align: left;
    font-weight: 800;
}

.main-1{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 5rem;
}

.main-d1{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.maldive-img{
    background-image: url(Images/maldive.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    padding: 140px 240px;
}

.maldive{
    font-size: 26px;
    font-weight: 600;
    color: white;
}

.indo-img{
    background-image: url(Images/indonesia.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    padding: 140px 240px;
}

.sri-img{
    background-image: url(Images/srilanka.png);
    background-repeat: no-repeat;
    height: 286px;
    width: 360px;
    margin-top: -16.5rem;
    padding: 140px 160px;
}

.srilanka{
    color: white;
    font-size: 26px;
    font-weight: 600;
}

.na-img{
    background-image: url(Images/north-a.png);
    background-repeat: no-repeat;
    margin-top: -16.5rem;
    margin-left: -5.5rem;
    width: 474px;
    height: 286px;
    padding: 140px;
}

.north-text{
    color: white;
    font-size: 26px;
    font-weight: 600;
}

.kashmir-img{
    background-image: url(Images/kashmir.png);
    margin-top: -16.5rem;
    background-repeat: no-repeat;
    margin-right: -5rem;
    width: 274px;
    height: 286px;
    padding: 120px 120px;
    
}

.kashmir{
    color: white;
    font-size: 26px;
    font-weight: 600;
}

.bangladesh{
    background-image: url(Images/bangladesh.png);
}

.cyd-s{
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    height: auto;
    width: 100%;
}

.msd-2{
    text-align: center;
    height: auto;
    width: 40rem;
    margin: auto;
}

.cyd{
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
}

.desc-div{
    background: rgba(251, 181, 99, 0.05);
    width: 35.8rem;
    padding: 2rem;
    border-radius: 1rem;
    margin-right: 1.5rem;
}

.desc-img{
    height: 4rem;
    width: 4rem;
}

.hh{
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
}

.desc-div-1{
    background: rgba(35, 203, 245, 0.05);
    width: 35.8rem;
    padding: 2rem;
    border-radius: 1rem;
}

.desc-div-2{
    background: rgba(233, 68, 68, 0.05);
    width: 35.8rem;
    padding: 2rem;
    border-radius: 1rem;
    margin: auto;
    margin-top: 1rem;
}

.nlc{
    border-radius: 1rem;
    padding: 2rem;
    border: 1px solid peru;
    height: auto;
    width: 450px;
    margin-right: 1.5rem;
}

.form-div{
    height: 52px;
    width: 393px;
    background-color: rgb(243, 232, 232);
    padding-inline-start: 1rem;
    margin: 1rem;
}

.input-class{
    border: none;
    margin: auto;
    margin-top: 1rem;
}

.footer{
    background-color: beige;
    align-items: center;
    width: 100%;
    height: 500px;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
    position: absolute;
}

.Hridoy{
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 1rem;
}

.Travel{
    color: #FF5400;
    font-family: Mulish;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-left: 1rem;
}

.img-div{
    margin: auto;
    margin-top: 5rem;
}

.social-icon{
    height: 2rem;
    width: auto;
    margin: 1.5rem;
}